.Pokemon-card {
  background-color: rgb(243, 238, 189, 0.1);
  border-radius: 5px;
  margin-top: 25px;
  margin-bottom: 5px;
  width: 200px;
  height: 230px;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.Pokemon-image {
  color: black;
}

.Pokemon-Name {
  color: black;
}

.Pokemon-Type {
  color: black;
}

.Pokemon-Weight {
  color: black;
}

.next-button {
  align-items: center;
}
